# Ignore node_modules, which will be installed during the Docker build
node_modules
# Ignore local environment files like logs or cache
*.log
*.env
# Ignore build artifacts and temporary files
.next
dist
coverage
*.tgz
# Ignore Git files
.git
.gitignore
# Ignore other system-specific files
.DS_Store
