* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  display: flex;
  border-radius: 16px;
  background: #777;
  color: white; 
  padding: 8px 16px;
  border: none; 
  font-size: 16px; 
  cursor: pointer; 
  transition: all 0.3s ease; 
}

button:hover {
  background: #555; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  transform: scale(1.05); 
}

button.selected {
  background-color: #555; 
}

h1, h2, h3 {
  color: white;
}

.debug {
  border: 2px red solid;
}